<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="output" value="0" /> <!-- 0 : console.writeline , 1: slack -->
    <!-- 
      Error (only report errors)
      Warn (report errors + warnings if responsetime above threshold)
      OK (include 200 OK, warnings and errors)
    -->
    <add key="level" value="Error" />  
    <add key="token" value="" /> 
    <add key="channel" value="" />
    <add key="icon_url" value="" /> 
    <add key="timeoutInMs" value="10000" />
    <add key="responsetime_threshold_inmillis" value="1" />
    <add key="urls" value="http://twitter.com;http://facebook.com"/>
  </appSettings>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=C:\temp\mydb.db;Version=3;Pooling=True;Max Pool Size=100;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>